.container__big-card{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 500px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.big-card__title > h1 > a{
  margin-top: 15px;
  font-size: 20px;
}

.big-card__content{
  margin-top: 15px;
}

.big-card__content > p > a {
  color: gray;
}

.big-card__photo > img{
  width: 100%;
  min-width: 400px;
}
