<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://cdn.dribbble.com/users/4179/screenshots/2162300/media/7d739c746e3076787f03c50d796a012a.png?resize=400x300&vertical=center"
    alt="default-image"
    height="250px"
    width="396px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">
        Default Title!
      </a>
    </h1>
  </div>
  <div class="big-card__content">
    <p>
      <a href="#">
      the content of the card is here! <br>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste aut nam iure consequatur ex
       rerum commodi non quae, tempori
       bus et consequuntur molestias. Quia officiis rerum illo exercitationem. Cupiditate, hic.
      </a>
    </p>
  </div>
</div>
