<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__image">
      <img src="https://cdn.dribbble.com/users/4179/screenshots/2162300/media/7d739c746e3076787f03c50d796a012a.png?resize=400x300&vertical=center"
      alt="default-image"
      width="200px"
      height="100px">
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#"> Default Title!</a>
      </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr />
  </div>
</div>
